In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pokemondb = pd.read_csv("database/PokemonDB.csv") ## Pokemon Database is converted to pandas dataframe

In [5]:
pokemondb.head()

,Name,Variation,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,NaN,Grass,Poison,318,45,49,49,65,65,45
1,Ivysaur,NaN,Grass,Poison,405,60,62,63,80,80,60
2,Venusaur,NaN,Grass,Poison,525,80,82,83,100,100,80
3,Venusaur,Mega,Grass,Poison,625,80,100,123,122,120,80
4,Charmander,NaN,Fire,NaN,309,39,52,43,60,50,65

In [69]:
pokemondb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1071 non-null   object
 1   Variation  197 non-null    object
 2   Type1      1071 non-null   object
 3   Type2      579 non-null    object
 4   Total      1071 non-null   int64
 5   HP         1071 non-null   int64
 6   Attack     1071 non-null   int64
 7   Defense    1071 non-null   int64
 8   Sp.Atk     1071 non-null   int64
 9   Sp.Def     1071 non-null   int64
 10  Speed      1071 non-null   int64
dtypes: int64(7), object(4)
memory usage: 92.2+ KB

In [60]:
pokemondb.nunique() ## Type1 19 different options

Name         904
Variation     87
Type1         19
Type2         18
Total        216
HP           103
Attack       123
Defense      114
Sp.Atk       121
Sp.Def       107
Speed        127
dtype: int64

In [61]:
pokemondb.Type1.unique() ## These are the options for Type1

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Dark', 'Poison',
       'Electric', 'Ground', 'Ice', 'Fairy', 'Steel', 'Fighting',
       'Psychic', 'Rock', 'Ghost', 'Dragon', 'Flying', 'Eletric'],
      dtype=object)

In [56]:
pokemondb['Type1'].value_counts(normalize=True)*100 ## frequency table by out of 100 percent. It seems like water type is the most frequent pokemon.

Water       12.978525
Normal      11.111111
Grass        8.683473
Bug          7.656396
Psychic      7.469655
Fire         6.349206
Electric     5.788982
Rock         5.508870
Dark         4.481793
Poison       4.014939
Dragon       4.014939
Ghost        3.921569
Fighting     3.921569
Ground       3.828198
Ice          3.734827
Steel        3.454715
Fairy        2.240896
Flying       0.746965
Eletric      0.093371
Name: Type1, dtype: float64

In [62]:
water_filter = pokemondb.Type1 == 'Water' ## water type pokemon filter

In [70]:
pokemondb[water_filter].reset_index() ## 139 is total count of water type pokemons

,index,Name,Variation,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,9,Squirtle,NaN,Water,NaN,314,44,48,65,50,64,43
1,10,Wartortle,NaN,Water,NaN,405,59,63,80,65,80,58
2,11,Blastoise,NaN,Water,NaN,530,79,83,100,85,105,78
3,12,Blastoise,Mega,Water,NaN,630,79,103,120,135,115,78
4,72,Psyduck,NaN,Water,NaN,320,50,52,48,65,50,55
...,...,...,...,...,...,...,...,...,...,...,...,...
134,1057,Samurott,Hisuian,Water,Dark,528,90,108,80,100,65,85
135,1062,Palkia,Origin,Water,Dragon,680,90,100,100,150,120,120
136,1066,Basculin,White-Striped,Water,NaN,460,70,92,65,80,55,98
137,1067,Basculegion,Male,Water,Ghost,530,120,112,65,80,75,78
138,1068,Basculegion,Female,Water,Ghost,530,120,92,65,100,75,78